.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.categorie {
  width: 300px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.nomCat {
  border : 1px solid black;
}

.matos {
  border: 1px solid black;
  display: flex;
}

.code {
  width: 20%;
  border-right: 1px solid black;
}

.emprunt {
  width: 20%;
  border-left: 1px solid black;
}

.popup {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pasDeNom {
  font-size: 2em;
}

.popup > * {
  flex-basis : 0;
}